<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pagina#titulo -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- pagina#css -->
    <!-- pagina#js -->
</head>

<body>
    <!-- Header -->
    <div class="ui top fixed menu">
        <div class="ui container">
            <a class="header item">Global Layout 2</a>
            <div class="right menu">
                <div class="item">Example layout using Fomantic UI</div>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="ui container" style="margin-top: 5em;">
        <div class="ui segment">
            @[[pagina#corpo]]@
        </div>
    </div>
    <!-- Footer -->
    <div class="ui inverted vertical footer segment" style="margin-top: 3em;">
        <div class="ui container center aligned">
            <span>&copy; 2025 Conn2Flow Plugin Example</span>
        </div>
    </div>
</body>

</html>